* {
    padding: 0;
    margin: 0;
}

body {
    /* background-image:url('download.jpeg'); */
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #0f2a4f, #011b39);
   
}

.container {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20rem;
    padding-left: 15rem;
    padding-right: 15rem;


}

.container h2 {
    font-size: 3rem;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px;
}

.container h2:hover{
    font-size: 3.1rem;
}

.container h3 {
    font-size: 20px;
    padding-bottom: 15px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.container input {
    height: 2.5rem;
    width: 40rem;
    margin: 15px;
    border-radius: 20px;
    text-align:center;
    font-size: medium;
}

.container button {
    height: 2.5rem;
    width: 2rem;
    margin: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button img {
    height: 65%;
    width: 65%
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.status h3 {
    padding: 0px;
    margin-right: 10px;
    
}

.status p {
    font-size: large;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* display: none; */
}